run = "streamlit run dashboard/app.py --server.port 8501 --server.address 0.0.0.0"
entrypoint = "dashboard/app.py"

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_11"

[deployment]
run = ["streamlit", "run", "dashboard/app.py", "--server.port", "8501", "--server.address", "0.0.0.0"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8501
externalPort = 80
